DB_DSN="Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=TechStore;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False"

FACTURACION_API_URL="https://arca.apps.staging.unkcode.com/api/v2/"
FACTURACION_API_KEY=gofip_CLAVE_SECRETA

